@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

li.ant-menu-item.ant-menu-item-selected{
  background-color: #DD1122;
}
li.ant-menu-item{
  background-color:gray;
 padding: 20px;


}
.customheader .ant-table-thead > tr > th {
  background-color: #B10E1B; 
  border: none;
  color: #fff; /* Text color */
  font-weight: bold;
}

li.ant-menu-item{
  padding: 30px;
  height: 61px;
}